.custom {
  padding-top: 60px;

  @media (max-width:740px) {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;

    @media (max-width:1024px) {
      height: 200px;
    }

    @media (max-width:740px) {
      text-align: center;
      justify-content: center;
      height: 100%;
    }
  }

  &__left {
    max-width: 370px;

    h4 {
      text-align: left;
      padding-bottom: 40px !important;

      @media (max-width:1024px) {
        padding-bottom: 20px !important;
      }

      @media (max-width:740px) {
        text-align: center;
      }
    }

    p {
      font-size: 20px;
      line-height: 30px;

      @media (max-width:1024px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    button {
      font-weight: $fw-medium;
      margin-top: 50px;
      text-transform: uppercase;
      background-color: $purple;
      padding: 20px 30px;

      &:hover {
        background-color: lighten($purple, 10);
        border: 1px solid lighten($purple, 10);
      }

      @media (max-width:1024px) {
        padding: 14px 24px;
        margin-top: 30px;
      }

      @media (max-width:740px) {
        margin-top: 10px;
      }
    }
  }

  &__right {
    height: 380px;
    width: 54%;
    background-color: $gray-light;
    right: 0;
    position: absolute;



    @media (max-width:1024px) {
      width: 40%;
      height: 200px;
    }

    @media (max-width:740px) {
      display: none;
    }

    img {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 550px;
      height: 550px;

      @media (max-width:1366px) {
        top: 10%;
        left: 10%;
        width: 420px;
        height: 420px;
      }

      @media (max-width:1024px) {
        width: 320px;
        height: 300px;
      }

      @media (max-width:860px) {
        left: 0;
        top: 0;
        width: 300px;
        height: 300px;
      }
    }
  }
}