.intro {
  position: relative;

  &__default {
    overflow: hidden !important;
    position: relative;
    height: 100% !important;

    .intro__left {
      text-shadow: none !important;
    }

    &.tipografiya {
      >span {
        left: 40%;

        @media (max-width:995px) {
          left: 40% !important;
        }
      }

      .intro__left {
        h2 {
          display: block;
          font-size: 60px;
          font-weight: $fw-bold;

          @media (max-width:1366px) {
            font-size: 50px;
          }

          @media (max-width:1024px) {
            font-size: 40px;
          }

          @media (max-width:690px) {
            font-size: 30px;
          }

          @media (max-width:390px) {
            font-size: 24px;
          }
        }
      }
    }

    &.suvenir {
      color: $white;

      >span {
        left: 50%;
      }
    }

    &.proizvod {
      color: $white;

      >span {
        left: 50%;

        @media (max-width:1112px) {
          left: 40%;
        }
      }
    }

    &.poshiv {
      >span {
        left: 50%;
        max-width: 400px;

        @media (max-width:1280px) {
          left: 50%;
        }

        @media (max-width:1112px) {
          max-width: 400px !important;
          left: 50%;
        }

        @media (max-width:1024px) {
          max-width: 300px !important;
          left: 44% !important;
        }
      }
    }

    .intro__wrapper {
      height: 380px !important;

      @media (max-width:945px) {
        height: 300px !important;
      }
    }

    >span {
      position: absolute;
      bottom: -10px;
      left: 35%;
      max-width: 500px;

      @media (max-width:1200px) {
        max-width: 500px;
      }

      @media (max-width:1024px) {
        max-width: 350px;
        left: 50% !important;
      }

      @media (max-width:440px) {
        display: none;
      }

      img {
        width: 100%;

      }
    }
  }

  &__wrapper {
    height: 460px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    @media (max-width:1112px) {
      height: 420px;
    }

    @media (max-width:890px) {
      height: 360px;
    }

    @media (max-width:390px) {
      height: 270px;
    }

  }

  &__left {
    max-width: 540px;

    @media (max-width:1440px) {
      text-shadow: rgba($white, 1) 0px 0px 30px;
    }

    @media (max-width:690px) {
      max-width: 320px;
    }

    @media (max-width:390px) {
      max-width: 100%;
    }

    p {
      font-size: 20px;
      line-height: 20px;
      max-width: 320px;
    }

    h2 {
      font-size: 40px;
      line-height: 60px;
      text-transform: uppercase;

      @media (max-width:1024px) {
        font-size: 30px;
        line-height: 40px;
      }

      @media (max-width:390px) {
        font-size: 24px;
      }

      strong {
        display: block;
        font-size: 60px;
        font-weight: $fw-bold;

        @media (max-width:1366px) {
          font-size: 50px;
        }

        @media (max-width:1024px) {
          font-size: 40px;
        }

        @media (max-width:690px) {
          font-size: 30px;
        }

        @media (max-width:390px) {
          font-size: 24px;
        }
      }
    }

    button {
      margin-top: 40px;
      background-color: $purple;
      text-transform: uppercase;
      padding: 22px 30px;



      @media (max-width:1366px) {
        padding: 18px 26px;
      }

      @media (max-width:1024px) {
        margin-top: 20px;
      }

      @media (max-width:690px) {
        margin-top: 20px;
      }

      @media (max-width:630px) {
        padding: 14px 20px;
      }

      &:hover {
        background-color: lighten($purple, 10);
        border: 1px solid lighten($purple, 10);
      }
    }
  }
}