.intro__home {
  background-size: 100%;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &-items {
    position: absolute;
    z-index: -2;
    width: 1920px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    @media (min-width:1921px) {
      transform: translate(-50%, -50%) scale(1.2);
    }

    @media (min-width:2200px) {
      transform: translate(-50%, -50%) scale(1.4);
    }

    @media (min-width:2220px) {
      transform: translate(-50%, -50%) scale(1.6);
    }

    @media (max-width:1747px) {
      transform: translate(-45%, -50%) scale(1.1);
    }

    @media (max-width:1574px) {
      transform: translate(-48%, -50%) scale(1);
    }

    @media (max-width:1280px) {
      transform: translate(-55%, -50%) scale(1);
    }

    @media (max-width:1112px) {
      transform: translate(-52%, -50%) scale(0.9);
    }

    @media (max-width:1050px) {
      transform: translate(-56%, -50%) scale(0.9);
    }

    @media (max-width:890px) {
      transform: translate(-54%, -50%) scale(0.7);
    }

    @media (max-width:780px) {
      transform: translate(-56%, -50%) scale(0.7);
    }

    @media (max-width:668px) {
      transform: translate(-58%, -50%) scale(0.7);
    }

    @media (max-width:550px) {
      transform: translate(-62%, -50%) scale(0.7);
    }

    @media (max-width:390px) {
      transform: translate(-62%, -50%) scale(0.6);
    }


    &-inner {
      position: relative;
      width: 100%;
      height: 100%;

      >img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      >div {
        position: absolute;
        z-index: 2;
        left: 89%;
        top: 60%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: skew(2deg, -2deg);

        img {
          animation: anim 0.5s infinite alternate-reverse;

          @keyframes anim {
            100% {
              transform: scale(1.1);
            }
          }
        }

        h4 {
          padding-top: 10px;
        }

      }

      >span {
        display: block;
        position: absolute;
        width: 180px;
        height: 24px;
        transform: rotateZ(-17deg) skew(-16deg, 0);
        top: 27.6%;
        left: 72.3%;
        overflow: hidden;
        z-index: 2;

        @media (max-width:1112px) {
          top: 22.3%;
        }

        @media (max-width:890px) {
          top: 17.8%;
        }

        @media (max-width:390px) {
          top: 7%;
        }

        >span {
          content: 'Magenta media';
          font-family: 'DS-DIGITAL';
          position: absolute;
          color: lighten($purple, 10);
          font-weight: normal;
          font-size: 24px;
          width: 100%;
          top: 0;
          left: 0;
          animation: text 3s infinite linear;
          text-shadow: rgba($purple, 1) 0px 0px 20px;

          @keyframes text {
            0% {
              left: -90%;
            }

            100% {
              left: 110%;
            }
          }
        }
      }
    }
  }

}