.select {
  padding-top: 80px;

  @media (max-width:630px) {
    padding-top: 40px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width:1366px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      justify-items: center;
      gap: 20px;
    }

    @media (max-width:460px) {
      gap: 10px;
    }

  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 230px;
    text-align: center;

    @media (max-width:1366px) {
      grid-column: span 4;

      &:nth-child(4) {
        grid-column: span 6;
      }

      &:last-child {
        grid-column: span 6;
      }
    }

    @media (max-width:740px) {
      grid-column: span 6;

      &:last-child {
        grid-column: span 12;
      }
    }


    &:hover {
      .select__item-image {
        &::after {
          opacity: 0.2;
          transform: scale(1);
        }
      }
    }

    &-image {
      width: 230px;
      height: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 20px;

      @media (max-width:1366px) {
        width: 200px;
        height: 200px;
      }

      @media (max-width:730px) {
        width: 160px;
        height: 160px;

        img {
          transform: scale(0.7);
        }
      }

      @media (max-width:460px) {
        width: 120px;
        height: 120px;

        img {
          transform: scale(0.5);
        }

        margin-bottom: 10px;
      }

      &::after {
        transition: $tr;
        content: '';
        width: 100%;
        height: 100%;
        background-color: $purple;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: scale(0);
        border-radius: 50%;
        z-index: -1;
      }
    }

    h3 {
      line-height: 22px;
      font-size: 17px;
      font-weight: $fw-medium;

      @media (max-width:460px) {
        font-size: 14px;
      }
    }
  }
}